<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/graphics/logo/icon-white.svg">
    <title>Discbro</title>

    <!-- CSS for all pages -->
    <link rel="stylesheet" href="/theme.css" />
    <link rel="stylesheet" href="/global.css" />

    <!-- CSS for this page -->
    <link rel="stylesheet" href="app/style.css" />
</head>

<body>
    <!-- Page -->
    <div id="sidebar">
        <p>Logged in as <i><%=username%></i></p>
        <h2>Channels</h2>

        <ul>
            <li>global</li>
        </ul>
    </div>

    <input type="text" placeholder="Write your message here..." id="message-bar" />

    <!-- Scripts -->
    <script src="app/script.js"></script>
</body>

</html>