<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=displayname%> on Discbro</title>

    <!-- CSS for all pages -->
    <link rel="stylesheet" href="/theme.css" />
    <link rel="stylesheet" href="/global.css" />

    <!-- CSS for this page -->
    <link rel="stylesheet" href="./style.css" />
</head>
<body>
    <img src="<%=profilepicture%>" />
    <h1><%=displayname%></h1>
    <h2><%=username%></h2>   
    
    <input type="button" value="Update profile" />
</body>
</html>