body {
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5, h6, p, a {
    text-align: center;
}

form {
    text-align: left;
}

h1 {
    font-size: var(--text-title-size);
}

h3 {
    font-size: var(--text-subtitle-size);
}

a {
    color: var(--link-text-color);
}

#subtitle {
    margin-top: 7vh;
}

@media all and (min-width:0px) and (max-width: 670px) {
    :root {
        zoom: 75%;
    }
}