body {
    margin: 2vh 12vw;
    background-color: var(--bar-color);
    color: var(--text-color);
    
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: var(--text-title-size);
}

h3 {
    text-align: center;
    font-size: var(--text-subtitle-size);
}

p {
    text-align: center;
}

a {
    color: var(--link-text-color);
}

#logo {
    margin-top: 9vh;
    height: 10rem;
    width: 76vw;
}

#subtitle {
    margin-top: 7vh;
}

@media all and (min-width:0px) and (max-width: 500px) {
    :root {
        zoom: 75%;
    }
}