
/** Preferences **/
:root { /* Default theme: dark */
    /* Dimensions */
    --sidebar-width: 24rem;
    --message-box-height: 3rem;
    --segment-padding: 0.3rem;

    --message-padding-left: 3.65rem;

    --message-view-width: calc(100% - var(--sidebar-width));

    /* Text */
    --text-font: "Consolas";
    --text-size: 1rem;
    --text-size-small: 0.8rem;
    --text-size-big: 1.5rem;

    --text-title-size: 3rem;
    --text-subtitle-size: 1.7rem;

    /* Colors */
    --background-color: #123; /* 123 */
    --pop-color: #345; /* 345 */
    --bar-color: #234; /* 234 */
    --selected-color: #DDD;

    --text-color: #FFF;
    --light-text-color: #FFFE;
    --weak-text-color: #FFF7;
    --link-text-color: #ACE;

    --highlight-color: #AA57;
    --error-color: #A55;
}

:root[theme=midnight] {
    --background-color: #000; /* 123 */
    --pop-color: #222; /* 345 */
    --bar-color: #111; /* 234 */
    
    --text-color: #DDD;
    --light-text-color: #DDDE;
    --weak-text-color: #DDD7;
    --link-text-color: #ACE;

    --highlight-color: #2A27;
}

:root[theme=light] {
    --background-color: #EEE; /* 123 */
    --pop-color: #FFF; /* 345 */
    --bar-color: #F8F8F8; /* 234 */

    --text-color: #000;
    --light-text-color: #000E;
    --weak-text-color: #0007;
    --link-text-color: #234;

    --highlight-color: #EE37;
}

/** Font **/
@font-face {
    font-family: "Consolas";
    src: url("./graphics/font/CONSOLA.TTF");
}

@font-face {
    font-family: "Consolas";
    src: url("./graphics/font/CONSOLAB.TTF");
    font-weight: bold;
}

@font-face {
    font-family: "Consolas";
    src: url("./graphics/font/CONSOLAI.TTF");
    font-style: italic;
}

@font-face {
    font-family: "Consolas";
    src: url("./graphics/font/CONSOLAZ.TTF");
    font-weight: bold;
    font-style: italic;
}
